.imageGallery,
.imageGallery_2,
.imageGallery_3,
.imageGallery_4 {
	display: block;
	max-width: 780px;
	margin: 0 auto;
	padding: 0;
	list-style:none;
	text-align: center;
}

.imageGallery li,
.imageGallery_2 li,
.imageGallery_3 li,
.imageGallery_4 li {
	display: inline-block;
	margin:0px;
	padding: 0px;
	background:white;
}

.imageGallery li img,
.imageGallery_2 li img,
.imageGallery_3 li img,
.imageGallery_4 li img {
	display: block;
  width: 95px;
  height: 90px;
}

.imageGallery a,
.imageGallery_2 a,
.imageGallery_3 a,
.imageGallery_4 a {
	text-decoration: none;
}

/** Start Coding Here **/
#overlay {
  position:fixed;
	top:0;
  left:0;
  display:none;
  width:100%;
  height:100%;
  text-align:center;
  background:rgba(0,0,0,0.7);
}

#overlay img {
 margin-top: 5%;
}

#overlay p {
 color:white;
}
